<div class="navbar">
  <a href="#">Home</a>
  <a routerLink="whoAreWe">Chi Siamo</a>
  <div class="dropdown">
    <button class="dropbtn">
      Menù
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
      <a routerLink="normale">Normale</a>
      <a routerLink="no-glutine">Senza glutine</a>
    </div>
  </div>
</div>

<div class="disclaimer">
  <h1>Avvertenza:</h1>
  <p>place holder</p>
</div>
<div class="todaysDish">
  <h1>Piatto del giorno</h1>
  <p>place holder</p>
</div>
